#error {
    color: red;
}

#logout {
    color: lawngreen;
}

body {
    padding: 0;
    margin: 0;
}

.column1 {
    position: absolute;
    height: 100%;
    width: 50%;
}

.column2 {
    background-color: white;
    position: absolute;
    height: 100%;
    width: 70%;
    left: 30%;
}

img {
    /*width: 100%;*/
    height: 100%;
}

#costam {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#formularz {
    background-color: #EEF9FB;
    padding: 22px;
    width: auto;
    border-radius: 10px;
    width: 40%;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid grey;
    width: 100%;
}

#myModal {
    font-size: 0.9em;
}

@media screen and (max-width: 824px) {
    .column1 {
        display: none;
    }

    .column2 {
        left: 0;
        width: 100%;
    }

    #formularz {
        width: 70%;
    }
}