body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li{
    list-style-type: none;
}

#main {
    /* padding: 5%; */
    /* top: 7%; */
    /* position: absolute; */
    /* padding-top: 3%; */

    /* left: 20%; */
    /* width: 100%; */
    /* padding-top: 5%; */
    /* align-items: center; */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3%;

}

#main-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#left {
    /* position: absolute;
    left: 0; */
    /* width: 50%; */
    /* background-color: lawngreen; */
    display: flex;
    align-content: center;
    justify-content: center;
}

#left-wrap {
    display: flex;
    align-content: flex-end;
    /* justify-content: center; */
}

#right {
    /* position: absolute; */
    /* left: 30%; */
    /* width: 50%; */

    margin: 0px;
    /* background-color: pink; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-content: center; */
    padding-left: 60px;


}

#right-wrap {
    display: flex;
    flex-direction: column;

}

.dwa li {
    display: inline-block;
    background-color: blue;
    width: 50px;
    height: 50px;
    margin: 5px;
}

.reserved {
    background-color: red !important;
}

#listaWszystkichMiejscNaSali li {
    list-style-type: none;
    margin: 5px;
}

#sendingButton {
    visibility: hidden;
}

#main2 {
    visibility: visible;
}

/* czesc MENU */

#menu {
    background: rgb(102, 0, 255);
    background: linear-gradient(90deg, rgba(102, 0, 255, 1) 0%, rgba(116, 7, 184, 1) 50%, rgba(130, 13, 116, 1) 100%);
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
}

#menu a, #aaa {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

#menu a:hover {
    background-color: #fff;
    color: black;
    font-weight: bold;
}

#TimeIsUp {
    display: none;
}

@media screen and (max-width: 500px) {

    #main-wrap,
    #menu {
        flex-direction: column;
        font-size: 1.5rem;
    }

    .dwa li {
        width: 30px;
        height: 30px;
    }

    #right{
        padding-left: 0;
    }
}

#koszta {
    display: flex;
    align-content: center;
    justify-content: center;
}

#zegarek {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    /* background-color: red; */
}

#buttonSumary-middle{
    display: flex;
    justify-content: center;

}

#ilosc{
    margin-left: 10px;
}