body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid grey;
    width: 100%;
}


#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 4%;
}

#main li {
    list-style-type: none;
    width: 200px;
    height: 170px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
    border: 1px solid rgb(235, 232, 232);
}

.box {
    position: relative;
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(102, 0, 255);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgb(102, 0, 255);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
    -webkit-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
}

.box:hover::after {
    opacity: 1;
}

.box a {
    text-decoration: none;
    color: rgb(102, 0, 255);

}

.box a:hover {
    text-decoration: none;
}

#main-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#menu {
    background: rgb(102, 0, 255);
    background: linear-gradient(90deg, rgba(102, 0, 255, 1) 0%, rgba(116, 7, 184, 1) 50%, rgba(130, 13, 116, 1) 100%);
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: flex-end;
}

#menu a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

#menu a:hover {
    background-color: #fff;
    color: black;
    font-weight: bold;
}

.box-item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.mySearch[type=text] {
    background-color: transparent;
    border: 0;
    justify-content: flex-start;
    text-align: center;
}

#mySearch1{
    color: grey;
}

#mySearch1[type=text]::placeholder {
    color: grey;
}

#mySearch2{
    display: none;
    width: 50%;
    color: black;
}

@media screen and (max-width: 500px) {
    #menu,
    #main-wrapper {
        flex-direction: column;
    }

    #menu{
        font-size: 1.5rem;
    }

    #mySearch2{
        width: 90%;
    }

    #exceptionCat{
        height: 50%;
        width: 50%;
    }

    #mySearch1{
        display: none;
    }

    #mySearch2{
        display: initial;
    }

    #main{
        padding-top: 8%;
    }
}

