<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cinema World - administration - movie projection edit</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style-main.css"/>

</head>
<body>
<div id="menu">
    <a href="/">Main</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
    <th:block th:if="${canAccessAdminPanel}"><a href="/administration">Administration</a></th:block>
</div>
<div id="main">
    <div id="wrapper">
        <form action="#" th:action="@{/administration/movieprojection/edit}" th:object="${editedMovieProjection}"
              method="post">

            City:<br/>
            <input list="cityInput" th:field="*{city}" th:value="${editedMovieProjection.getCity()}"/><br/>
            <datalist id="cityInput">
                <option th:each="CityDto : ${cities}" th:value="${CityDto.getName()}"/>
            </datalist>
            <br/><br/>
            Room:<br/>
            <input list="roomInput" th:field="*{room}" th:value="${editedMovieProjection.getRoom()}"/><br/>
            <datalist id="roomInput">
                <option th:each="RoomDto : ${rooms}" th:value="${RoomDto.getName()}"/>
            </datalist>
            <br/><br/>
            Movie:<br/>
            <input list="movieInput" th:field="*{movie}" th:value="${editedMovieProjection.getMovie()}"/><br/>
            <datalist id="movieInput">
                <option th:each="MovieDto : ${movies}" th:value="${MovieDto.getTitle()}"/>
            </datalist>
            <br/><br/>
            Date:<br/>
            <input type="text" th:field="*{date}" th:value="${editedMovieProjection.getDate()}"/><br/><br/>
            Time from:<br/>
            <input type="text" th:field="*{timeFrom}" th:value="${editedMovieProjection.getTimeFrom()}"/><br/><br/>
            Time to:<br/>
            <input type="text" th:field="*{timeTo}" th:value="${editedMovieProjection.getTimeTo()}"/><br/><br/>

            <input type="hidden" th:field="*{id}" th:value="${editedMovieProjection.getId()}"/>
            <input class="btn btn-primary" type="submit" value="Submit"/>
        </form>
    </div>
</div>

<script src="/bootstrap/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap/js/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>