<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cinema World - administration - movie projection</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style-main.css"/>

</head>
<body>
<div id="menu">
    <a href="/">Main</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
    <th:block th:if="${canAccessAdminPanel}"><a href="/administration">Administration</a></th:block>
</div>
<div id="main">
    <div id="wrapper">

        <table class="table">
            <tr>
                <th scope="col">city</th>
                <th scope="col">date</th>
                <th scope="col">time from</th>
                <th scope="col">time to</th>
                <th scope="col">movie title</th>
                <th scope="col">room</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            <tr th:each="MovieProjectionDto : ${movieProjections}">
                <td th:text="${MovieProjectionDto.getCityId()}"/>
                <td th:text="${MovieProjectionDto.getDate()}"/>
                <td th:text="${MovieProjectionDto.getTimeFrom()}"/>
                <td th:text="${MovieProjectionDto.getTimeTo()}"/>
                <td th:text="${MovieProjectionDto.getMovieTitle()}"/>
                <td th:text="${MovieProjectionDto.getRoomName()}"/>
                <td><a class="btn btn-success"
                       th:href="'/administration/movieprojection/edit/' + ${MovieProjectionDto.getId()}">Edit</a></td>
                <td><a class="btn btn-danger"
                       th:href="'/administration/movieprojection/delete/' + ${MovieProjectionDto.getId()}">Delete</a>
                </td>
            </tr>
        </table>
        <div>
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Add new projection
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form action="#" th:action="@{/administration/movieprojection/new}"
                          th:object="${newMovieProjection}" method="post">

                        City:<Br/>
                        <input list="cityInput" th:field="*{city}"/><br/>
                        <datalist id="cityInput">
                            <option th:each="CityDto : ${cities}" th:value="${CityDto.getName()}"/>
                        </datalist>
                        <br/><br/>
                        Room:<br/>
                        <input list="roomInput" th:field="*{room}"/><br/>
                        <datalist id="roomInput">
                            <option th:each="RoomDto : ${rooms}" th:value="${RoomDto.getName()}"/>
                        </datalist>
                        <br/><br/>
                        Movie:<br/>
                        <input list="movieInput" th:field="*{movie}"/><br/>
                        <datalist id="movieInput">
                            <option th:each="MovieDto : ${movies}" th:value="${MovieDto.getTitle()}"/>
                        </datalist>
                        <br/><br/>
                        Date:<br/>
                        <input type="text" th:field="*{date}" required
                               pattern="^\s*(3[01]|[12][0-9]|0?[1-9])\.(1[012]|0?[1-9])\.((?:19|20)\d{2})\s*$"/><br/><br/>
                        Time from:<br/>
                        <input type="text" th:field="*{timeFrom}" required pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" /><br/><br/>
                        Time to:<br/>
                        <input type="text" th:field="*{timeTo}" required pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" /><br/><br/>

                        <input class="btn btn-primary" type="submit" value="Submit"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/bootstrap/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap/js/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>