<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cinema World - administration - movie</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style-main.css"/>

</head>
<body>
<div id="menu">
    <a href="/">Main</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
    <th:block th:if="${canAccessAdminPanel}"><a href="/administration">Administration</a></th:block>
</div>
<div id="main">
    <div id="wrapper">
        <table class="table">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Director</th>
                <th scope="col">Year</th>
                <th scope="col">Category</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            <tr th:each="MovieViewDto : ${movies}">
                <td th:text="${MovieViewDto.getTitle()}"/>
                <td th:text="${MovieViewDto.getDirector()}"/>
                <td th:text="${MovieViewDto.getYear()}"/>
                <td th:text="${MovieViewDto.getMovieCategory().getName()}"/>
                <td><a class="btn btn-success" th:href="'/administration/movie/edit/' + ${MovieViewDto.getId()}">Edit</a></td>
                <td><a class="btn btn-danger" th:href="'/administration/movie/delete/' + ${MovieViewDto.getId()}">Delete</a></td>
            </tr>
        </table>
        <br/>
        <div>
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Add new movie
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form action="#" th:action="@{/administration/movie/new}" th:object="${movie}" method="post">
                        Title:<br/>
                        <input type="text" th:field="*{title}" required pattern="[A-Za-z0-9\s:]{2,}"/><br/><br/>

                        Director:<br/>
                        <input type="text" th:field="*{director}" required pattern="[A-Za-z\s]{2,}"/><br/><br/>

                        Year:<br/>
                        <input type="text" th:field="*{year}" required pattern="^(19|20)\d{2}$"/><br/><br/>

                        Category:<br/>
                        <input list="categoryInput" th:field="*{category}"/><br/>
                        <datalist id="categoryInput">
                            <option th:each="MovieCategoryDto : ${categories}"
                                    th:value="${MovieCategoryDto.getName()}"/>
                        </datalist><br/>

                        <input class="btn btn-primary" type="submit" value="send"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/bootstrap/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap/js/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>