<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cinema World - administration - user</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style-main.css"/>

</head>
<body>
<div id="menu">

    <div style="display: flex">
        <input type="text" class="mySearch" id="mySearch1" onkeyup="searchInTable(this)" placeholder="Search ..."/>
    </div>

    <a href="/">Main</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
    <th:block th:if="${canAccessAdminPanel}"><a href="/administration">Administration</a></th:block>
</div>
<div id="main">
    <div id="main-wrapper">
        <input type="text" id="mySearch2" onkeyup="searchInTable(this)" placeholder="Search ..."/><br/><br/><br/>
        <table class="table" id="myTable">
            <tr>
                <th scope="col">Login</th>
                <th scope="col">Name</th>
                <th scope="col">Role</th>
                <th scope="col">Delete</th>
                <th:block th:if="${isOwner}"><th scope="col">Role</th></th:block>
            </tr>
            <tr th:each="UserDto : ${users}">
                <td th:text="${UserDto.getLogin()}"/>
                <td th:text="${UserDto.getName()}"/>
                <td th:text="${UserDto.getRole()}"/>
                <td><a class="btn btn-success" th:href="'/administration/user/edit/' + ${UserDto.getId()}">Edit</a></td>
                <td><a class="btn btn-danger" th:href="'/administration/user/delete/' + ${UserDto.getId()}">Delete</a></td>
            </tr>
        </table>
    </div>
</div>

<script src="/js/dataFilter.js"></script>

<script src="/bootstrap/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap/js/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>