<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cinema World - administration - movie edit</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style-main.css"/>

</head>
<body>
<div id="menu">
    <a href="/">Main</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
    <th:block th:if="${canAccessAdminPanel}"><a href="/administration">Administration</a></th:block>
</div>
<div id="main">
    <div id="wrapper">

        <form action="#" th:action="@{/administration/movie/edit}" th:object="${movieToEdit}" method="post">

            Title:<br/>
            <input type="text" th:field="*{title}" th:value="${movieToEdit.getTitle()}"/><br/><br/>

            Director:<br/>
            <input type="text" th:field="*{director}" th:value="${movieToEdit.getDirector()}"/><br/><br/>

            Year:<br/>
            <input type="text" th:field="*{year}" th:value="${movieToEdit.getYear()}"/><br/><br/>

            Category:<br/>
            <input list="categoryInput" th:field="*{movieCategory}" th:value="${movieToEdit.getMovieCategory()}"/><br/>
            <datalist id="categoryInput">
                <option th:each="MovieCategoryDto : ${categories}" th:value="${MovieCategoryDto.getName()}"/>
            </datalist>

            <input type="hidden" th:field="*{id}" th:value="${movieToEdit.getId()}"/>

            <input class="btn btn-primary" type="submit" value="Submit"/>

        </form>
    </div>
</div>


<script src="/bootstrap/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap/js/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>