<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cinema World - administration - city</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style-main.css"/>

</head>
<body>
<div id="menu">
    <a href="/">Main</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
    <th:block th:if="${canAccessAdminPanel}"><a href="/administration">Administration</a></th:block>
</div>
<div id="main">
    <div id="wrapper">
        <table class="table">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            <tr th:each="CityDto : ${allCities}">
                <td th:text="${CityDto.getName()}"/>
                <td><a class="btn btn-success" th:href="'/administration/city/edit/' + ${CityDto.getId()}">Edit</a></td>
                <td><a class="btn btn-danger" th:href="'/administration/city/delete/' + ${CityDto.getId()}">Delete</a>
                </td>
            </tr>
        </table>
        <br/>
        <div>
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button"
                   aria-expanded="false" aria-controls="collapseExample">
                    Add new city
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <form action="#" th:action="@{/administration/city/create}" th:object="${newCityModel}"
                          method="post">

                        City name:<br/>
                        <input type="text" th:field="*{name}" th:value="${newCityModel.getName()}" required
                               pattern="[A-Za-z\s]{2,}"/><br/><br/>
                        <input class="btn btn-primary" type="submit" value="Submit"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/bootstrap/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap/js/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>