<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cinema World - something went wrong</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style-main.css"/>

</head>
<body>
<div id="menu">

    <a href="/">Main</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
    <th:block th:if="${canAccessAdminPanel}"><a href="/administration">Administration</a></th:block>
</div>

<div id="main">
    <div id="main-wrapper">
        <p>
            ... Oh no ! Something went wrong ... we are very sorry<br/><br/>
            <span th:text="${errorCode}"/><br/><br/>
            Click here to go to <a href="/">main page</a><br/><br/>
            <img id="exceptionCat" src="/pic/shrekcat.gif" height="90%" width="90%"/>

        </p>
    </div>
</div>

<script src="/bootstrap/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap/js/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>

</body>
</html>
