<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cinema World - profile</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/style-main.css"/>

    <style>
       .card-header{
           background: rgb(102, 0, 255);
           background: linear-gradient(90deg, rgba(102, 0, 255, 1) 0%, rgba(116, 7, 184, 1) 50%, rgba(130, 13, 116, 1) 100%);

       }

        .btn{
            color: white;
        }

    </style>

</head>
<body>

<div id="menu">
    <a href="/">Main</a>
    <a href="/profile">Profile</a>
    <a href="/logout">Logout</a>
    <th:block th:if="${canAccessAdminPanel}"><a href="/administration">Administration</a></th:block>
</div>
<div id="main">
    <div id="main-wrapper">

            <div class="accordion" id="glowny">
                <div class="card">
                    <div class="card-header" id="daneOsobowe">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#dane"
                                    aria-expanded="true" aria-controls="dane">
                                Account info
                            </button>
                        </h2>
                    </div>

                    <div id="dane" class="collapse" aria-labelledby="daneOsobowe" data-parent="#glowny">
                        <div class="card-body">
                            <table class="table">
                                <tr>
                                    <th>Login</th>
                                    <th>Name</th>
                                </tr>
                                <tr>
                                    <td th:text="${login}"/>
                                    <td th:text="${name}"/>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                    aria-expanded="true" aria-controls="collapseOnea">
                                History tickets
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#glowny">
                        <div class="card-body">

                            <!------------------>

                            <th:block
                                    th:each="MovieProjectionWithReservationPerUser : ${projectionsWithReservations}">
                                <div class="accordion"
                                     th:id="'sub' + ${MovieProjectionWithReservationPerUser.getMovieProjection().getId()}">
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                                        th:data-target="'#collapse' + ${MovieProjectionWithReservationPerUser.getMovieProjection().getId()}"
                                                        aria-expanded="true"
                                                        th:aria-controls="'collapse' + ${MovieProjectionWithReservationPerUser.getMovieProjection().getId()}">
                                                    <span th:text="${MovieProjectionWithReservationPerUser.getMovieProjection().getDate()}"/>,
                                                    <span th:text="${MovieProjectionWithReservationPerUser.getMovieProjection().getMovie()}"/>,
                                                    <span th:text="${MovieProjectionWithReservationPerUser.getMovieProjection().getTimeFrom()}"/> -
                                                    <span th:text="${MovieProjectionWithReservationPerUser.getMovieProjection().getTimeTo()}"/>

                                                </button>
                                            </h2>
                                        </div>

                                        <div th:id="'collapse' + ${MovieProjectionWithReservationPerUser.getMovieProjection().getId()}"
                                             class="collapse" aria-labelledby="headingOne"
                                             th:data-parent="'#sub' + ${MovieProjectionWithReservationPerUser.getMovieProjection().getId()}">
                                            <div class="card-body">

                                                <div class="card-body">
                                                    <table class="table">
                                                        <tr>
                                                            <th>Movie</th>
                                                            <th>Date</th>
                                                            <th>Row</th>
                                                            <th>Seat</th>
                                                        </tr>
                                                        <tr th:each="ReservationDto : ${MovieProjectionWithReservationPerUser.getReservations()}">
                                                            <td><span
                                                                    th:text="${MovieProjectionWithReservationPerUser.getMovieProjection().getMovie()}"/>
                                                            </td>
                                                            <td><span
                                                                    th:text="${MovieProjectionWithReservationPerUser.getMovieProjection().getDate()}"/>
                                                            </td>
                                                            <td><span th:text="${ReservationDto.getRow() + 1}"/></td>
                                                            <td><span th:text="${ReservationDto.getSeat()} + 1"/></td>
                                                        </tr>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </th:block>

                            <!-- koniec -->

                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>

<script src="/bootstrap/js/jquery-3.4.1.min.js"></script>
<script src="/bootstrap/js/popper.min.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>